<!--テストテスト-->
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>カタログ</h1>

<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= sanitize(product.description) %></h3>
			<div class="price_line">
        <span class="price"><%= number_to_currency(product.price) %></span>
        <%= button_to 'カートに入れる', line_items_path(product_id: product), remote: true %>
        <%#TODO= button_to 'カートから削除', line_items_path(), method: :decrement %>
			</div>
		</div>
<% end %>


